/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
   --cor-hover: #5BBCFF;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}

.all{}



ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso sintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

section.menu{
    padding: 20px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #E1F7F5;
}

.menu__list{
    display: flex;
    font-size: 19px;
    gap: 32px;
    white-space: nowrap;
}

.menu__name{
    display: flex;
    font-size: 19px;
    gap: 8px;
    white-space: nowrap;
    margin-right: 100px;

}


.menu__list__item{

}

.menu__list__item:hover{
    background-color: var(--cor-hover);
}


/*Sessão Title*/

.title__div{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 64px;
}

.title__profile{
    width: 487px;
    height: 404px;
}

.title__container{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.title__bio{
    font-size: 52px;
    margin: 0;
}

.title__subsection{
    font-size: 22px;
    font-weight: normal;
    margin: 0;
}

.title__network{
    font-size: 19px;
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
}
.title__network__item:hover{
    background-color: var(--cor-hover);
}

/*Sessão About*/

.about{
    display: flex;
    padding: 64px 0 64px 0;
    gap: 10px;
}

.about__container{
    display: flex;
    gap: 16px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding: 64px;
    background-color: #E1F7F5;
}

.about__title{
    font-size: 32px;
    margin: 0;
}

.about__paragraph{
    font-size: 16px;
    margin: 0 30% 0 0;
}

.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    margin-bottom: 40px;
}

.skills__title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills__line{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
    padding: 64px;
}


.skills_conteudo{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

/*Sessão Hobbies*/

.hobbies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    margin-bottom: 40px;
    
}

.hobbies__title{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.hobbies__line{
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
    padding: 64px;
}
.hobbies__conteudo{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

/* Experiência Acadêmica*/

.academic{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    padding: 64px;
    background-color: #E1F7F5;
}

.academic__title{
    margin: 0;
}

.academic__courses{
    display: flex;
    gap: 16px;
    align-items: center;
}


.academic__courses__item__img{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 16px;
    gap: 10px;
    /* width: 100px; */
    flex-wrap: wrap;
}

.academic__courses__list{
    display: flex;
    gap: 8px;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

.academic__courses__item__title{
    font-size: 15px;
}

.academic__courses__item__title__text{
    padding: 0;
    margin: 0;

}

.academic__courses__item__subtitle{
    font-size: 10px;
}

.academic__courses__item__subtitle_text{
    padding: 0;
    margin: 0;
}

/* experiência*/

.experience{
    display: flex;
    padding: 64px;
    gap: 32px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.experience__section__title{
    display: flex;
    justify-content: center;
    margin: 0;
}

.experience__box__jogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.experience__box__portfolio{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 8px;
}

.experience__box__decodificador{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.experience__box__heroi{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 8px;
}

.experience__title{
    font-size: 22px;
}

.experience__text{
    font-size: 16px;
    font-weight: normal;
}

.experience__description{
    display: flex;
    gap: 16px;
}

.experience__botao--demo{
    font-size: 16px;
    display: flex;
    padding: 16px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border-radius: 4px 4px 4px 4px;
    border: none;
    cursor: pointer;
    background-color: #94FFD8;
}

.experience__botao--demo:hover{
    background-color: var(--cor-hover);
}

.experience__botao--repo{
    font-size: 16px;
    color: #9AC8CD;
    display: flex;
    padding: 16px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid;
    border-color: #94FFD8;
    cursor: pointer;
}
.experience__botao--repo:hover{
    background-color: var(--cor-hover);
}

/*Contato*/

.formcontato__title{
    font-size: 32px;
    margin: 0;
}

.formcontato__contacto{
    display: flex;
    padding: 64px;
    gap: 10px;
    align-items: flex-start;
    background-color: #E1F7F5;
}

.formcontato__text{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.formcontato__subtext{
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}

.formcontato__form{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    flex-direction: column;
}

.formcontato__input{
    width: 656px;
    height: 56px;
    padding: 8px 0px 0px 8px;
    border-radius: 4px 4px 4px 4px;
    border: 0;
    border-bottom: 1px solid blue;
}

.formcontato__textarea{
    width: 656px;
    padding: 11px 0px 0px 8px;
    border-radius: 4px 4px 4px 4px;
    border: 0;
    border-bottom: 1px solid blue;
}

.formcontato__botao{
    font-size: 16px;
    display: flex;
    padding: 16px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border-radius: 4px 4px 4px 4px;
    border: none;
    cursor: pointer;
    background-color: #94FFD8;
}


/*footeer*/
.footer__rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9px;
    gap: 10px;
    
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (max-width: 768px)  {
/* Menu */
    .menu {
        padding: 20px;
        display: flex;
        background-color: #E1F7F5;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .menu__name{
        display: flex;
        font-size: 19px;
        white-space: nowrap;
        margin: 0;
        flex-direction: column;
    }

    .menu__name__title{
        margin: 0;
    }

    .menu__list {
        display: flex;
        padding: 0;
        font-size: 19px;
        gap: 20px;
        white-space: nowrap;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin: 0;
    }

    .title__profile {
        width: 200px;
        height: 200px;   
    }

    .title__div{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 32px;
        gap: 32px;
    }
/*title*/

/*Skills*/
    .skills{
        display: flex;
        flex-direction: column;
        gap: 0;
        margin: 0;
    }
    .skills__line {
        display: flex;
        gap: 32px;
        justify-content: center;
    }

    .hobbies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    margin: 0;
    }
    
    .hobbies__line {
        display: flex;
        gap: 16px;
        justify-content: center;
    }
/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/
    .experience{
        display: flex;
        padding: 32px;
        gap: 16px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .experience__box__jogo {
        display: flex;
        gap: 16px;
        flex-direction: column;
    }

    .experience__box__portfolio{
        display: flex;
        gap: 16px;
        flex-direction: column;
    }

    .experience__box__decodificador{
        display: flex;
        gap: 16px;
        flex-direction: column;
    }

    .experience__box__heroi{
        display: flex;
        gap: 16px;
        flex-direction: column;
    }


/* Contato */
    .formcontato__img{
        display: none;
    }

    .formcontato__contacto {
        display: flex;
        align-items: flex-start;
        background-color: #E1F7F5;
        flex-direction: column;
        padding: 20px;
    }    

}

/*Mobile*/
@media (max-width: 425px) {

/*Menu*/
    .menu {
        padding: 15px 76px 15px 76px;
        display: flex;
        width: 100%;
        background-color: #E1F7F5;
        flex-direction: column;
        align-items: center;
    }
    .menu__name{
        display: flex;
        font-size: 16px;
        white-space: nowrap;
        margin: 0;
        flex-direction: column;
    }
    .menu__list {
        display: flex;
        padding: 0;
        font-size: 15px;
        gap: 20px;
        white-space: nowrap;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin: 0;
    }

/*Titulo*/
    .title__profile {
        width: 130px;
        height: 130px;
    }

    .title__bio {
        font-size: 25px;
        margin: 0;
    }

    .title__subsection {
        font-size: 15px;
        font-weight: normal;
        margin: 0;
    }

    .title__network {
        font-size: 12px;
        display: flex;
        gap: 32px;
        margin: 0;
        padding: 0;
    }

/*Sessão sobre*/
    .about__container {
        display: flex;
        gap: 15px;
        padding: 16px;
        background-color: #E1F7F5;
        flex-direction: column;
    }

    .about__paragraph {
        font-size: 16px;
        margin: 0;
    }

/*Skills*/
    .skills {
        display: flex;
        padding: 16px;
        gap: 0;
        margin: 0;
    }

/*Hobbies*/
    .hobbies__line {
        display: flex;
        gap: 16px;
        justify-content: center;
        flex-wrap: wrap;
    }
/*Formação Acadêmica*/
    .academic__courses {
        display: flex;
        gap: 16px;
        align-items: center;
        flex-direction: column;
    }

    .academic__courses__list {
        display: flex;
        gap: 8px;
        padding: 0;
        margin: 0;
        flex-direction: column;
        /* height: 185px; */
        width: 104px;
    }
/*projetos*/
    .experience__section__title {
        display: flex;
        justify-content: center;
        margin: 0;
        font-size: 22px;
    }
    .experience__img{
        width: 425px;
        height: 207px;
    }

    .experience__title {
        font-size: 16px;
    }

    .experience__text{
        font-size: 14px;
    }

    .experience__botao--repo {
        font-size: 14px;
        color: #9AC8CD;
        display: flex;
        padding: 12px 16px 12px 16px;
        gap: 10px;
        align-items: center;
        justify-content: center;
        width: fit-content;
        border-radius: 4px 4px 4px 4px;
        border: 1px solid;
        border-color: #94FFD8;
        cursor: pointer;
    }

    .experience__botao--demo {
        font-size: 14px;
        display: flex;
        padding: 12px 16px 12px 16px;
        gap: 10px;
        align-items: center;
        justify-content: center;
        width: fit-content;
        border-radius: 4px 4px 4px 4px;
        border: none;
        cursor: pointer;
        background-color: #94FFD8;
    }
 /*Contato*/
/*Footer*/

}
